@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Quicksand:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}
header{
    display:flex ;
    height: 20rem;
    background: #C5D5EA;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;

}
h1{
    width: 100%;
    text-align: center;
    font-size: 4rem;

}

header p{
    font-size: 4rem;
    text-align: center;
}
main{
    flex-direction: column;
    font-size: 3rem;
    background:#B3C5D7 ;
}
.container-operations{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.CuadradoContainer,.TrianguloContainer, .CirculoContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background: #D8E1E9;
    width: 50rem;
    height: 40rem;
    margin: 0.2rem;
}
button{
    background: #7392B7;
    border: none;
    display: inline-block;
    border-radius: 15px;
    width: auto;
    height: 3rem;
    font-family:'Quicksand', sans-serif;
}
button:hover{
    background: #759EB8;
}
input{
    display: inline-block;
    width: 35rem;
    margin: auto;
}